---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kuard-green
  labels:
    metadata.n8s.io/cluster-name: place.holder.tld
spec:
  replicas: 1
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
        seccompProfile:
          type: "RuntimeDefault"
      containers:
        - name: kuard
          env:
            name: FOO
            valueFrom:
              configMapKeyRef:
                name: one-configmap
                key: FOO
          image: gcr.io/kuar-demo/kuard-amd64:green
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "64Mi"
              cpu: "100m"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            privileged: false
