apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../components/one
  - ../components/two

patches:
  - target:
      version: v1
      kind: ConfigMap
      name: one-configmap
    patch: |-
      - op: add
        path: /data/BOING
        value: boing
  - path: patch.yaml
    target:
      version: v1
      kind: ConfigMap
      name: two-configmap

  - target:
      labelSelector: "override/namespace=kube-system"
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: kube-system
  - target:
      version: v1
      kind: Service
      name: two-service
    patch: |-
      - op: replace
        path: /spec/type
        value: LoadBlancer
configMapGenerator:
  - name: cluster-properties
    literals:
      - "cluster-name=foo.bar.example.com"
